logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
public/.sass-cache
public/stylesheets/.sass-cache/
.cache
.target
bin
*.swp
output.xml
report.html
/log.html
/robot/log.html
/robot/*.png
venv
.DS_Store
/robot/output/
node_modules/
conf/env*.conf
conf/cred*.conf